<div class="container">
    <header>
        <img src="./../../assets/logo_color-02.png" alt="">
        <button class="btn green">Cómo <br> empezar</button>
    </header>
    <main>
        <h4>
            Separa,<br>
            <strong>recicla</strong> y<br>
            gana.
        </h4>

        <div class="subtitle">
            <p>Descubre todo <br>lo que puedes <strong>ganar</strong></p>
            <img src="" alt="">
        </div>

        <div class="buttons horizontal">
            <a>
                <i></i>
                <span>Ecoregalos</span>
            </a>
            <a>
                <i></i>
                <span>Ecoregalos</span>
            </a>
            <a>
                <i></i>
                <span>Ecoregalos</span>
            </a>
        </div>

        <div class="buttons vertical">
            <button class="btn green">Empezar a reiclar</button>
            <button class="btn blue">Redimir puntos</button>
        </div>

        <div class="tabs">
            <a href="" class="tab-item">
                <span></span>
            </a>
        </div>
    </main>
</div>