<div class="container">
    <header>
        <img src="./../../assets/logo_color-02.png" alt="">
        <button class="btn green" (click)="showDrawer = true">Cómo <br> empezar?</button>
    </header>
    <main>
        <h4>
            Separa,<br>
            <strong>recicla</strong> y<br>
            gana.
        </h4>

        <div class="subtitle">
            <p>Descubre todo <br>lo que puedes <strong>ganar</strong></p>
            <img src="" alt="">
        </div>

        <div class="buttons horizontal">
            <a>
                <i class="fas fa-gifts fa-2x"></i>
                <span>Ecoregalos</span>
            </a>
            <a>
                <i class="fas fa-credit-card fa-2x"></i>
                <span>Ecoregalos</span>
            </a>
            <a>
                <i class="fas fa-ticket-alt fa-2x"></i>
                <span>Ecoregalos</span>
            </a>
        </div>

        <div class="buttons vertical">
            <button [routerLink]="['/start-recycling']" class="btn green">Empezar a reciclar</button>
            <button class="btn blue">Redimir puntos</button>
        </div>

        <div class="tabs">
            <a class="tab-item">
                <i class="fas fa-address-book fa-lg"></i>
                <span>Contacto</span>
            </a>
            <a class="tab-item">
                <i class="fas fa-history fa-lg"></i>
                <span>Historial</span>
            </a>
            <a class="tab-item" class="btn" [routerLink]="['/premios']">
                <i class="fas fa-star fa-lg"></i>
                <span>Premios</span>
            </a>
            <a class="tab-item active">
                <i class="fas fa-home fa-lg"></i>
                <span>Home</span>
            </a>
        </div>
    </main>
</div>
<div [ngClass]="{ 'open': showDrawer }" class="drawer">
    <div class="header">
        <button (click)="showDrawer = false">Ya entendí!</button>
    </div>

    <h2>¿Como reciclo?</h2>
    <h4>Aprende a separar los residuos y gana eCoins. ¡Es muy fácil!</h4>
    <div class="content">
        <h5>a. Orgánicos</h5>
        <p>Lorem ipsum dolor sit, amet consectetur Bolsa Negra</p>
        <h5>b. Inorgánicos</h5>
        <p>Lorem ipsum dolor sit, amet consectetur Bolsa Blanca</p>
    </div>
    <h4>Empieza a reciclar con eCoin</h4>
    <h5>1. Llena el formulario</h5>
    <h5>2. Toma la foto</h5>
    <h5>3. Crea y redime la notificación</h5>
    <h4>Redime tus eCoins</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipiscing elit, sed do eiusmod tempor.</p>
</div>
<div (click)="showDrawer = false" [ngClass]="{ 'open': showDrawer }" class="overlay"></div>