<div class="container">
    <img src="./../../assets/logo.png" alt="">
    <p class="slogan">¡Con Ecoins siempre ganas!</p>
    <div class="form">
        <h2>Iniciar sesión</h2>
        <div>
            <input class="input" type="text" placeholder="Usuario">
            <input class="input" type="text" placeholder="Contraseña">
            <div class="radio">
                <input type="checkbox" value="accept"
                (change)="conditionsEvent()">
                Acepto términos y condiciones
            </div>
        </div>
    </div>
    <button class="btn" (click)="doLogin()">Iniciar sesión</button>
</div>
