<div class="container">
    <img src="./../../assets/logo.png" alt="">
    <h1>Registrate</h1>
        <p class="slogan">¡Con Ecoins siempre ganas!</p>
        <div class="form">
            <select class="input">
                <option>Colector</option>
                <option>Productor</option>
            </select>               
            <input class="input" type="text" placeholder="Nombre:">
            <input class="input" type="text" placeholder="Apellido:">
            <input class="input" type="text" placeholder="Telefono">
            <input class="input" type="text" placeholder="Email">
            <div class="radio">
                    <input type="radio" name="">
                    Acepto términos y condiciones
            </div>
        </div>
        <button class="btn">Registrarme</button>
</div>
