<div class="container">
    <img src="./../../assets/logo.png" alt="">
    <p class="slogan">¡Separa, recicla y gana!</p>
    <div class="form">
        <div>
            <button [routerLink]="['/login']" type="button" id="buttom"
                class="btn btn-default btn-lg btn-block">Ingresar</button>
            <button [routerLink]="['/register']" type="button" id="buttom"
                class="btn btn-secondary btn-lg btn-block">Registrarme</button>
        </div>
    </div>
    <p>&#174; eCoins V1</p>
</div>